.btn{

    &:link,
    &:visited{
    
        text-transform: uppercase;
        text-decoration: none;
        padding:1.5rem 4rem;
        /* to make use of paddings,margins and heights and widths we should change this to inline-block, because ancqour tag is by default a inline element */
        display: inline-block;
        border-radius: 10rem;
        /* transition property should be in the initial state. Here the initial state is this class, which is .btn:link and .btn:visited */
        transition:all .2s;
        position: relative;
        font-size:1.6rem;
    }
    
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        
        }

    }
    
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--white{
        background-color: $color-white;
        color: $color-grey-dark;

        &::after{
            background-color: $color-white;
        }
    }
    
    /* ABOUT PESUDO ELEMENTS - LECTURE 10.BUILDING A COMPLEX ANIMATED BUTTON - PART 2.THIS LECTURE IS VERY IMPORTANT */
    
    &::after{
        content: "";
        display:inline-block;
        height:100%;
        width:100%;
        border-radius: 10rem;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        transition:all .4s;
    }
    
    
   
    
    &--animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode:backwards;
    }

}